/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

; config.php
; routes.php
; schedule-*
; compiled.php
; services.json
; events.scanned.php
; routes.scanned.php
; down

