{"filter":false,"title":".htaccess","tooltip":"/cms/public/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":21,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1548102986813,"hash":"d6ae5e0e947fe95941d4818a8377c437caa37ba9"}