{"filter":false,"title":"web.config","tooltip":"/cms/public/web.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":4.5,"scrollleft":0,"selection":{"start":{"row":22,"column":16},"end":{"row":22,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1514595786603,"hash":"a74db3869daa64568f2c44afe2a008631109a5c4"}